.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
}

.header h1 {
  color: #000;
  font-family: sans-serif;
  font-size: 35px;
  text-align: center;
}

.header p {
  color: gray;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 70px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main__right p {
  max-width: 550px;
}

.btn {
  display: flex;
}

.btn button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.footer {
  background-color: rgb(73, 22, 120);
}

.item h3 {
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
}

.item p {
  color: rgb(144, 136, 136);
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 50px;
}

.title {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 70px;
}
